<div ng-show="vm.filterActive">
    <form class="form-inline">
        Filter by:
        <div class="form-group">
            <select class="form-control" ng-model="vm.searchField">
                <option value="">-- NO FILTER --</option>
                <option value="surname">Participant</option>
                <option value="institute">Institute</option>
                <option value="date">Date</option>
            </select>
        </div>
        <div class="form-group" ng-show="vm.searchField === 'institute'">
            <input type="text" ng-model="vm.filteringValue" uib-typeahead="institute for institute in vm.getInstitutes($viewValue)" typeahead-loading="searching" typeahead-no-results="noResults" class="form-control">
        </div>
        <div class="form-group" ng-show="vm.searchField === 'surname'">
            <input type="text" ng-model="vm.filteringValue" uib-typeahead="person.surname for person in vm.getPeople($viewValue)" typeahead-loading="searching" typeahead-no-results="noResults" class="form-control">
        </div>
        <div class="form-group" ng-show="vm.searchField === 'date'">
            <div class="input-group">
                <input type="text" datepicker-localdate class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="vm.filteringValue" is-open="vm.popup1.opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="['M!/d!/yyyy']" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="vm.getMeetings()">Search</button>
    </form>
</div>
<div ng-show="vm.countingActive">
    <h3>Meetings found: {{vm.meetings.length}}</h3>
</div>
<uib-accordion close-others="oneAtATime">
    <uib-accordion-group ng-repeat="meeting in vm.meetings">
        <uib-accordion-heading>
            <b>{{meeting.platform}}</b> - {{meeting.location}} [{{meeting.date| formatDate}}]
            <button type="button" class="btn btn-default badge pull-right iit-badge" ng-click="vm.askDeleteConfirmation(meeting, $event)" data-toggle="modal" data-target="#confirm-delete">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button type="button" class="btn btn-default badge pull-right iit-badge" ng-click="vm.openEditingForm(meeting, $event)" data-toggle="modal">
                <i class="glyphicon glyphicon-glyphicon glyphicon-pencil"></i>
            </button>
        </uib-accordion-heading>
        <h3>{{meeting.platform}} - {{meeting.location}} [{{meeting.date| formatDate}}]</h3>
        <h4>Participants</h4>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="person in meeting.participants">{{person.surname}} ({{person.institute}})</li>
        </ul>
        <h4>Topics</h4>
        <div class="well">
            <p style="white-space: pre;">{{meeting.topics}}</p>
        </div>
    </uib-accordion-group>
</uib-accordion>

<script type="text/ng-template" id="deleteConfirmation.html">
    <div class="modal-header">
    <h3 class="modal-title">Confirmation</h3>
    </div>
    <div class="modal-body">
    You are deleting the meeting <b>{{vm.meeting.platform}}</b> - {{vm.meeting.location}} [{{vm.meeting.date | formatDate}}]
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.proceed(vm.meeting)">Proceed</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="editingForm.html">
    <div class="modal-header">
    <h3 class="modal-title">Meeting editing</h3>
    </div>
    <div class="modal-body">
    <iit-meetings-form meeting="vm.meeting" on-submit="vm.ok"></iit-meetings-form>
    </div>
</script>